* {
    margin: 0;
    padding: 0;
}

table {
    height: 590px;
    width: 520px;
    border-collapse: collapse;
    border: 20px solid #485863;
    margin: auto;
    text-align: center;
}

tr {
    border: 10px solid #485863;
}

td {
    border: 10px solid #485863;
}

.black {
    background-color: black;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
 }

.white {
    background-color: whitesmoke;
}